@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@font-face {
  font-family: "Bahnschrift";
  src: url("/fonts/BAHNSCHRIFT.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
} */

body {
  font-family: var(--font-arcon), sans-serif;
}
/* Class for Font */
.menu-btn-font {
  font-family: var(--font-bahnschrift), sans-serif;
}

/* Update global classes to use Arcon */
.content-font {
  font-family: var(--font-arcon), sans-serif;
}

.title-font {
  font-family: var(--font-proxima), sans-serif;
}

/* Class for Font */

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}


.layoutWrapper {
  @apply max-w-[1320px] items-center;
}

.newsHidden {
  display: none !important;
}

.subheader {
  font-family: var(--font-proxima), sans-serif;
  @apply px-4 py-2 text-center text-[2rem] font-semibold uppercase text-[#d9b75e] lg:text-5xl;
}

.subheader_bg {
  @apply col-span-3 row-span-3 rounded-xl bg-[#151515] py-4 lg:py-8;
}

.golden {
  background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #af6e00 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
}

.pagewrapper {
  @apply mx-5 mb-[200px] flex w-full max-w-[1320px] flex-col lg:flex-row;
}

.bgGradientBtn {
  @apply w-full cursor-pointer rounded-full bg-gradient-to-r from-[#FFA100] to-[#FFDD00] px-8 py-2 uppercase text-black shadow-md;
}

@layer components {
  .gradientOutlineBtn {
    @apply w-full rounded-full border-2 px-8 py-2 font-bold uppercase;
    border-color: #ffa100;
    background: none;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #ffa100 0%, #ffdd00 100%);
  }

  .bgGradientBtn {
    @apply menu-btn-font w-full rounded-full px-8 py-2 font-bold uppercase text-black shadow-md;
    background: linear-gradient(90deg, #ffa100 0%, #ffdd00 100%);
  }
}
.gradient-overlay {
  width: 45rem;
  height: 45rem;
  background: radial-gradient(circle at bottom right, #5b2c5a, transparent 70%);
}

/* Tablet */
@media (max-width: 1023px) {
  .gradient-overlay {
    width: 30rem;
    height: 30rem;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .gradient-overlay {
    width: 20rem;
    height: 20rem;
  }
}
