@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.Montserrat {
  @apply font-display;
  font-family: "Montserrat", sans-serif;
}

.OpenSans {
  @apply font-display;
  font-family: "Open Sans", sans-serif;
}

.layoutWrapper {
  @apply max-w-[1320px] items-center;
}

.subheader {
  @apply Montserrat bg-gradient-to-r from-[#FFD868] to-[#FFFFFF] bg-clip-text py-2 text-center text-3xl font-semibold uppercase text-transparent;
}

.subheader_bg {
  @apply col-span-3 row-span-3 rounded-xl bg-[#151515] py-4 lg:py-8;
}

.pagewrapper {
  @apply mx-5 mb-[200px] flex w-full max-w-[1320px] flex-col lg:flex-row;
}

.bgGradientBtn {
  @apply w-full cursor-pointer rounded-full bg-gradient-to-r from-[#FFA100] to-[#FFDD00] px-8 py-2 uppercase text-black shadow-md;
}

@layer components {
  .gradientOutlineBtn {
    @apply Montserrat w-full rounded-full border-2 px-8 py-2 font-bold uppercase;
    border-color: #ffa100;
    background: none;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #ffa100 0%, #ffdd00 100%);
  }

  .bgGradientBtn {
    @apply Montserrat w-full rounded-full px-8 py-2 font-bold uppercase text-black shadow-md;
    background: linear-gradient(90deg, #ffa100 0%, #ffdd00 100%);
  }
}
